@font-face {
  font-family: myFirstFont;
  src: url(../fonts/undertale-deltarune-text-font-extended.otf);
}

div{
    font-family: myFirstFont;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}