@font-face {
  font-family: myFirstFont;
  src: url(../fonts/undertale-deltarune-text-font-extended.otf);
}

div{
    font-family: myFirstFont;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    border-color: #ffffff;
    border-width: 7px;
    text-align: center;
    width:25%;
    border-style: solid;
    margin: 0 auto;
}
body {
    background-color: #000000;
    
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 2s ease-in;
  z-index: -1;
}

#background.active {
  opacity: 1;
}
